
<form class="send-message w-100">
    {% csrf_token %}
    <input type="hidden" name="room_id" id="selected-room">
    <label for="chat" class="visually-hidden">Your message</label>
    <div  class="d-flex  w-100 align-items-center p-3 rounded bg-light">
        <textarea id="chat_textarea" rows="1"  name="message" class="form-control me-2" placeholder="Your message..."></textarea>
        <button type="submit" class="btn btn-primary ">
            <i class="bi bi-arrow-up"></i>
            <span class="visually-hidden">Send message</span>
        </button>
    </div>
</form>
