{% extends 'default.html' %}

{%block content %}

<div class="content d-flex flex-column vh-100 justify-content-center align-items-center">
    <div id="box-message">
        
    </div>
    <div class="input-message  mt-5">
        <form method="post" class="send-message" id="messageForm">
            {% csrf_token %}
            <input type="text" name="mensagem" placeholder="Mensagem" id="mensagemInput">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    
</div>

{%endblock%}


{%block js %}

<script>
    const baseUrl = window.location.origin.replace(/^http/, 'ws');
    const socket = new WebSocket(baseUrl +"/ws/");

    socket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        const messageBox = document.querySelector('#box-message');
        var html = `<div class="card" style="width: 18rem; height: 8rem;">
                            <div class="card-body">
                            <h5 class="card-title">${data.user}</h5>
                            <p class="card-text">${data.message}</p>
                            </div>
                        </div>`
                    

        messageBox.insertAdjacentHTML('beforeend', html)
    }

    document.querySelector("#messageForm").addEventListener('submit', (e) => {
    e.preventDefault(); // Evita que o formulário seja submetido de forma tradicional
    const formData = new FormData(e.target);
    const message = formData.get('mensagem'); // Coleta o valor do campo "mensagem"
    
    if (message.trim() === "") {
        alert("A mensagem não pode ser vazia!"); // Adiciona uma validação de mensagem vazia
        return;
    }

    // Envia a mensagem via WebSocket
    socket.send(JSON.stringify({
        'user': 'Diva',
        'number': '5595991452704',
        'send': true,
        'message': message
    }));

    // Opcional: Limpa o campo após o envio
    document.querySelector("#mensagemInput").value = '';
    });
</script>
{%endblock%}